@page
@model Library.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Издательства</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].PublicistTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publisher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicistTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PubId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.PubId">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.PubId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
