@page
@model Library.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Жанры</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].GenTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GenId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.GenId">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.GenId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
