@page
@model Library.Pages.Readers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить запись</h1>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Читатель</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.PassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.PassportData)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reader.ReadId" />
        <input type="submit" value="Удалить запись" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад к списку</a>
    </form>
</div>
